$breakpoint-sm: 380px;
$breakpoint-md: 768px;
$breakpoint-lg: 1440px;
$breakpoint-xl: 1800px;

$text-color-white: #eeeeee;
$text-color-gray: #a8a8a8;
$color-red: #cd0511;
$color-green: #179149;
$color-green-hover: rgb(11, 116, 55);
$color-border-gray: #5a5a5a;
$color-background-black: #161616;
$color-background-white: #F4F4F4;
$gradient: linear-gradient(90deg, #FCD678 0%, #FCD678 0.01%, #BC8C2F 100%);